# GDP and Internet Usage
Import the required packages with their customary aliases

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Using the pandas method, read the GDP dataset as a DataFrame called `gdp_df` and take a look at the first 6 rows.

In [11]:
gdp_df = pd.read_csv("../data/gdp_percapita.csv")
print(gdp_df.head(6))

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

Using the pandas method, read the internet usage dataset as a DataFrame called `internet_df` and take a look at the first 6 rows.
&nbsp;

- *Added double quotes around "Internet, Broadband and cell phone statistics," on line 4684 to resolve tokenizing error.*

In [17]:
internet_df = pd.read_csv("../data/internet_use.csv", nrows=4497)
print(internet_df.head(6))

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

How many rows and columns are in each DataFrame?
- *gdp_df - 6870 rows and 4 columns*
- *internet_df - 4676 rows and 4 columns*
&nbsp;

What are the datatypes for the columns in each DataFrame?
- *gdp_df - Country or Area - object, Year - object, Value - float64, Value Footnotes - float64*
- *internet_df - Country or Area - object, Year - object, Value - float64, Value Footnotes - object*

In [14]:
print(gdp_df.info())
print(internet_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6870 entries, 0 to 6869
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6870 non-null   object
 1   Year             6870 non-null   object
 2   Value            6868 non-null   float64
 3   Value Footnotes  1 non-null      float64
dtypes: float64(2), object(2)
memory usage: 214.8+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4676 entries, 0 to 4675
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  4676 non-null   object
 1   Year             4676 non-null   object
 2   Value            4496 non-null   float64
 3   Value Footnotes  949 non-null    object
dtypes: float64(1), object(3)
memory usage: 146.2+ KB
None